NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000/api
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
NEXT_CONNECTION_STRING=
BRAVE_SEARCH_API_KEY=
OPENREUTER_API=
OPENROUTER_MODEL=google/gemini-2.5-flash
